<div class="py2 post-footer">
<hr>
  <p>
  These posts were given by students of IIT Kanpur, with the speakers, scribes and post editors as mentioned above. Please do not use content without citing the speakers, or reproduce material without citing the scribes and post editors. Please drop us an <a href="mailto:seek.iitk@gmail.com">email</a> if you would like to cite the content, or use the written up notes for another talk. 
  </p>
  <p> "It is not language, but <a href="https://google.com/">ethics</a> and discipline that makes us different from animals" </p>
</div>
